{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<title>|| write answer ||</title>
</head>
<style>
		div.forum
		{
			width:25%;
			margin-left:35%;
			margin-top:4%;
			border:2px solid black;
			padding:40px;
		}
	</style>
<body>
<div class="forum">
	<h1>Post Answer</h1>
	<form method='POST'>
		{% csrf_token %}
		{{ form|crispy }}
		<button type='submit'>Post answer</button>
	</form>
	<br />
	<a href="{% url 'forum-home' %}">Forum</a>
	<br />
	<a href="{% url 'logout' %}">Logout</a>
</div>
</body>
</html>