{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<title>|| Update answer ||</title>
</head>
<body>
<div class='jumbotron jumbotron-fluid bg-light text-white text-center'>
	<h1>Update the Answer!</h1>
</div>
<div class='col-md-4 mx-auto border border-primary'>
	<h1 class='text text-info'>Ask!</h1><br />
	<h5 class='text-danger'>Provide 2 tags that you find best suits your answer</h5>
	<br />
	<form method='POST'>
		{% csrf_token %}
		{{ form|crispy }}
		<button type='submit' class='btn btn-outline-primary btn-lg'>Update</button>
	</form>
	<br />
	<a href="{% url 'forum-home' %}" class='btn btn-warning btn-lg'>Forum</a>
	<br />
	<a href="{% url 'logout' %}" class='btn btn-info btn-lg'>Logout</a>
</div>
</body>
</html>