{% extends 'main/nav.html' %}
{% block title %}
<title>FAQs</title>
{% endblock title %}
{% block content %}
<div class='jumbotron jumbotron-fluid text text-center text-white bg-dark'>
	<h1>FAQs</h1>
</div>
<div class='col-md-5 mx-auto'>
<div class='container p-3'>
	<h3 class='text text-dark'>Q. What (a) depicts?</h3>
	<h5 class='text text-info'>It means the user is Admin/Moderator.</h5><br/>
	<h3 class='text text-dark'>Q. How the donation money will be used?</h3>
	<h5 class='text text-info'>Donation money will be used to cover our hosting charges and other operational charges, like paying for third party apis
	(if any) but we try our level best that what we do is always cost efficient.</h5><br />

	<h3 class='text text-dark'>Q. What happens when i report any question/answer?</h3>
	<h5 class='text text-info'>A object is created for our moderators that you have reported this question/answer and how many other reports have came in. If after a threshold times there's report of any content we check it, that if it's infringing our community guidelines we remove the content.<br /><br /><p class='text text-danger'>Note that when question is removed the respective answers of that question is automatically removed too.</p></h5>
	<br />

	<h3 class='text text-dark'>Q. What is PantoMath?</h3>
	<h5 class='text text-info'>PantoMath is a group of people who have vision to provide all the technological solution to the problem that exist in our college with solely help of students of this college to practice production like scenerios to learn better.</h5><br />

	<h3 class='text text-dark'>Q. How can i help PantoMath or get into it?</h3>
	<h5 class='text text-info'>Contribute on our open source projects and we'll give shoutout to you and enough. You are in!</h5><br />

	<h3 class='text text-dark'>Q. What if i have something to discuss with admins of this website?</h3>
	<h5 class='text text-info'>You can e-mail us at <a class='btn btn-outline-dark' href='mailto:pantomath.notice@gmail.com?subject=URGENT'>pantomath.notice@gmail.com</a> with subject URGENT.</h5><br />
	<h3 class='text text-dark'>Q. How to choose right tags for my question/answer?</h3>
	<h5 class='text text-info'>Think like if you needed to describe your content in two words what would they be, these tags will later be used to search content on this website.</h5><br />
	
</div>
</div>
{% endblock content %}