{% load static %}
<!DOCTYPE html>
<html> 
<head>
	{% block title %}
	{% endblock title %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  	<!-- NAVBAR -->
  	<nav class="navbar position-fixed-top navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'menu' %}"><img src='{% static "logo.png" %}' class='d-inline-block align-top' width='170px'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-info mx-2" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info mx-2" href="{% url 'forum-home' %}">Forum</a>
      </li>
      <li class='nav-item'>
      	<a class='btn btn-info mx-2' href='{% url "write" %}'>Ask</a>
      </li>
      {% if user.is_authenticated %}
      	<li class='nav-item'>
      		<a class='btn btn-danger mx-2' href='{% url "logout" %}'>Logout</a>
      	</li>
      {% else %}
      	<li class='nav-item'>
      		<a class='btn btn-success mx-2' href='{% url "login" %}'>Login</a>
      	</li>
      	<li class='nav-item'>
      		<a class="btn btn-success mx-2" href='{% url "signup" %}'>Signup</a>
      	</li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <h5 class='text text-dark mr-3'>
      Hello, <a class='btn btn-warning' href='{% url "profile" request.user.id %}'>{{ request.user }}{% if request.user.is_staff %} (a) {% endif %}</a>
    </h5>
    {% endif %}
  </div>
</nav><!-- nav bar finished -->
   
<hr>

	{% block content %}
	{% endblock content %}
  <br /><br /><br /><hr><br /><br />
	<div class='col'>
	<footer>
		<div class='jumbotron jumbotron-fluid bg-info text-white text-center'>
      <center><div class='container contaner-fluid m-3'>
        <a class='btn btn-light p-2' href='{% url "faqs" %}'>FAQs</a>
        <a class='btn btn-light p-2' href='{% url "guidelines" %}'>Community Guidelines</a>
      </div></center>
      <hr style='border-color:white;width:50%;margin-top:25px;margin-bottom:25px;'>
			<div class='container'>
        <h5>Created by <a href='{% url "about" %}' class='btn btn-danger'>PantoMath</a> with  ❤️</h5>
        <br />
        <span class='btn btn-dark'><h6>Please Help us cover our hosting costs - <a href='{% url "donate" %}' class='btn btn-danger'>Donate</a></h6></span>
		  </div>
    </div>
	</footer>
</div>
</body>
</html>