{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock title %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  	<!-- NAVBAR -->
  	<nav class="navbar position-fixed-top navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'menu' %}"><img src='{% static "logo.png" %}' class='d-inline-block align-top' width='170px'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'forum-home' %}">Forum</a>
      </li>
      <li class='nav-item'>
      	<a class='nav-link' href='{% url "write" %}'>Ask</a>
      </li>
      {% if user.is_authenticated %}
      	<li class='nav-item'>
      		<a class='nav-link' href='{% url "logout" %}'>Logout</a>
      	</li>
      {% else %}
      	<li class='nav-item'>
      		<a class='nav-link' href='{% url "login" %}'>Login</a>
      	</li>
      	<li class='nav-item'>
      		<a class="nav-link" href='{% url "signup" %}'>Signup</a>
      	</li>
      {% endif %}
    </ul>
  </div>
</nav><!-- nav bar finished -->
   
<hr>

	{% block content %}
	{% endblock content %}
	<div class='col fixed-bottom'>
	<footer>
		<div class='jumbotron jumbotron-fluid bg-info text-white text-center'>
			<h5>Created by <a href='{% url "about" %}' class='btn btn-danger'>PantoMath</a> with  ❤️</h5>
		</div>
	</footer>
</div>
</body>
</html>