{% extends "main/nav.html" %}
{% load static %}
{% block title %}
<title>PantoMath</title>
<meta name='keywords' content='richesh,satyam,pantomath,forum,developers,juet,guna' />
{% endblock title %}
{% block content %}
<h1 class='text text-success text-center'>
	PantoMath
</h1>
<div class='col-md-6 mx-auto m-5 border border-dark p-5 rounded'>
	<h4 class='text-info'>
		<blockquote class='blockquote'><h1 class='text text-info'>"</h1>What better way to learn about industry than to compete with industry.<br><h1 class='text text-info float-right'>"</h1></blockquote> 
		<br>That's what we are trying to do, we are trying to find problems that exist in our campus and to eliminate it with solely help of our fellow students only, this will bring us exposure and knowledge.
	</h4>
</div>
<div class='col-md-4 mr-5 float-right'>
<div class='card'>
	<div class='card-body'>
		<h1 class='text text-success pl-3'>Satyam Upadhyay</h1>
		<hr>
		<img src='{% static "satyam.jpg" %}' width='550' height='530px' /><br><hr>
		<h2 class='text text-info text-center'>Full Stack Developer</h2>
	</div>
	<div class='card-footer bg-dark'>
		<center>
			<a href='https://github.com/satyam260/' target='_blank'><img src='{% static "github.png" %}' width='100'></a>
			<a href='https://www.linkedin.com/in/satyam-upadhyay-1776a2172/' target='_blank'><img src='{% static "linkedin.png" %}' width='100' class='border border-light rounded-circle m-2'></a>
		</center>
	</div>
</div>
</div>
<div class='col-md-4 ml-5'>
<div class='card ml-5'>
	<div class='card-body'>
		<h1 class='text text-success pl-3'>Richesh Gupta</h1>
		<hr>
		<img src='{% static "richesh.png" %}' /><br><hr>
		<h2 class='text text-info text-center'>Full Stack Developer</h2>
	</div>
	<div class='card-footer bg-dark'>
		<center>
			<a href='https://github.com/richeshgupta/' target='_blank'><img src='{% static "github.png" %}' width='100'></a>
			<a href='https://www.linkedin.com/in/richeshgupta/' target='_blank'><img src='{% static "linkedin.png" %}' width='100' class='border border-light rounded-circle m-2'></a>
		</center>
	</div>
</div>
</div>
{% endblock content %}