{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>We are PantoMath!</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class='jumbotron jumbotron-fluid bg-dark text-white text-center'>
		<h1>We are PantoMath!</h1>
	</div>
		<div class=''>	
			<div class='col-md-3 ml-5 mt-5'>
				<div class="card">
					<div class="card-body text text-center">
						<h1>Satyam Upadhyay</h1>
						<h3 class="text text-info">Full Stack Developer</h3>
						<img src='{% static "satyam.jpg" %}' class='mx-auto border border-rounded' width='410px' />
					</div>
					<div class='card-footer bg-dark text-center'>
			<a href="https://github.com/satyam260" target="_blank" alt="Satyam - GIT"><img class='mr-2' src="{% static 'github.png' %}" width="110px" height="110px"></a>
			<a href="https://www.linkedin.com/in/satyam-upadhyay-1776a2172/" target="_blank" alt="Satyam - LinkedIn"><img class='ml-2' src="{% static 'linkedin.png' %}" style="border:5px solid white;border-radius:100%;" width="100px" height="100px" /></a>
					</div>

				</div>
			</div>
			<div class='col-md-3 mr-5 float-right'>
				<div class="card">
					<div class="card-body text text-center">
						<h1>Richesh Gupta</h1>
						<h3 class="text text-info">Full Stack Developer</h3>
						<img src='{% static "richesh.png" %}' class='mx-auto border border-rounded' width='410px' />
					</div>
					<div class='card-footer bg-dark text-center'>
			<a href="https://github.com/richeshgupta" target="_blank" alt="Richesh - GIT"><img class='mr-2' src="{% static 'github.png' %}" width="110px" height="110px"></a>
			<a href="https://www.linkedin.com/in/richeshgupta/" target="_blank" alt="Richesh Gupta - LinkedIn"><img class='ml-2' src="{% static 'linkedin.png' %}" style="border:5px solid white;border-radius:100%;" width="100px" height="100px" /></a>
					</div>
				</div>
			</div>
		</div>
</body>
</html>