{% extends 'users/nav.html' %}
{% block logbox %}
	{% if user.is_authenticated %}
		<h4>Welcome, {{ request.user }} </h4>
	{% else %}
		<h4>Log in to post</h4>
	{% endif %}
{% endblock logbox %}
{% block content %}
	{% if data %}	
		{% for datas in data %}
			<h1>{{ datas.title }}</h1>
			<h4>{{ datas.date }}</h4>
			<br />
			<p>{{ datas.notice }}</p>
				{% if datas.url %}
					<br /><h5>URL - </h5> <a href={{ datas.url }} target=_blank>{{ datas.url }}</a>
				{% endif %}
			<br /><hr /><br />
		{% endfor %}
	{% else %}
		<h1>No Notices to show </h1>
	{% endif %}
{% endblock content %}