{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		div.main-head
		{
			width:50%;
			margin-left:23%;
			margin-top:2%;
			border:5px solid grey;
			text-align:center;
			border-radius:20px;
		}
		div.form
		{
			width:30%;
			display:inline-block;
			margin-top:5%;
			margin-left:32%;
			text-align:center;
			align-self: center;
			height:370px;
			border:2px solid black;
			padding:50px;
			padding-top:90px;
			box-shadow:3px 3px 5px 5px grey;
			height:40%;
			
		}
		h1
		{
			display:block;

		}
	</style>
	<title>Login</title>
</head> 
<body>
	{% if user.is_authenticated %}
		<div class='jumbotron jumbotron-fluid bg-dark text-info'>
			<center><h2>Already Logged in!</h2></center>
		</div>
		<div class='col-md-4 mx-auto'>
		<div class='card mx'>
			<div class='card-body mx-auto'>
				<h2 class='text-danger'>
					You are already Logged in!
				</h2>
				<hr >
			</div>
			<h6 class='text-muted mx-auto'>
				You can go to -
			</h6>
			<div class='card-footer mx-auto'>
				<div class='btn-group'>
				<a href='{% url "logout" %}' class='btn btn-outline-danger'>Logout</a>
				<a href='{% url "forum-home" %}' class='btn btn-outline-info'>Forum</a>
				<a href='{% url "home" %}' class='btn btn-outline-success'>Home</a>
				<a href='{% url "notice" %}' class='btn btn-outline-warning'>Create Notice</a>
			</div>
			</div>
			<br />
		</div>
	</div>
	{% else %}
		<div class="form">
		<form method ='POST'>
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit">Login</button>
		</form>
		<br />
		<a href="{% url 'home' %}">Home</a>
		</div>
		
	{% endif %}
</body>
</html>