{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<title>Login</title>
</head> 
<body>
	{% if user.is_authenticated %}
		<div class='jumbotron jumbotron-fluid bg-dark text-info'>
			<center><h2>Already Logged In!</h2></center>
		</div>
		<div class='col-md-4 mx-auto'>
		<div class='card mx'>
			<div class='card-body mx-auto'>
				<h2 class='text-danger'>
					You are already Logged in!
				</h2>
				<hr >
			</div>
			<!--<h6 class='text-muted mx-auto'>
				You can go to -
			</h6>-->
			<div class='card-footer mx-auto'>
				<div class='btn-group'>
				<a href='{% url "logout" %}' class='btn btn-outline-danger'>Logout</a>
				<a href='{% url "forum-home" %}' class='btn btn-outline-info'>Forum</a>
				<a href='{% url "home" %}' class='btn btn-outline-success'>Home</a>
				<a href='{% url "notice" %}' class='btn btn-outline-warning'>Create Notice</a>
			</div>
			</div>
			<br />
		</div>
	</div>
	{% else %}
		<br /><br />
		<div class='col-md-4 mx-auto'>
			<div class='card'>
				<div class='card-body'>
					<h3 class='text text-info'>
						Login!
					</h3>
				</div>
				<div class='card-footer'>
					<form method="POST">
					{% csrf_token %}
					{{ form|crispy }}
					<button type='submit' class='btn btn-outline-success'>Login</button>
					</form><hr>
					<h6 class='text-muted'>
						Create a new account?
					</h6>
					<a href='{% url "signup" %}' class='btn btn-info'>Register</a>
				</div>
			</div>
		</div>
	{% endif %}
</body>
</html>