{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<title>Logged Out!</title>
</head>
<body>	
		<div class="jumbotron jumbotron-fluid bg-dark text-white text-center">
			<h3 >You are Logged Out!</h3>
		</div>
		<div class='col-md-5 mx-auto mt-5'><br /><br />
		<div class='card'>
			<div class='card-body'>
				<h3 class="text-muted">You are logged out!</h3>
			</div>
			<div class='card-footer'>
				<div class='btn-group'>
					<a href='{% url "login" %}' class='btn btn-success btn-lg'>Login</a>
				<a href='{% url "signup" %}' class='btn btn-info btn-lg'>Signup</a>
				</div>
				<div class='btn-group float-right'>
					<a href='{% url "home" %}' class='btn btn-warning btn-lg'>Home</a>
					<a href='{% url "forum-home" %}' class='btn btn-dark btn-lg'>Forum</a>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>