<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	div.btn
	{
		width:100px;
		height:30px;
		background-color: #3ce878;
		color:white;
		display:inline-block;
		text-align: center;
		border-radius: 5px;
		padding-top:5px;
		box-shadow:2px 2px 3px 3px #8ee59f;
		margin:10px;
	}	
	body
	{
		margin-left:700px;
		margin-top:250px;
	}	
	a{
		text-decoration:none;
		color:#2d33ad;
	}
	div.btn:hover
	{
		background-color: white;
	}
	</style>
	<title>Not Authorised!</title>
</head>
<body>
<h1>You are not authorised!</h1>
<h4> You are not Authorised to Post, until you are Logged in!</h4>
<br />

<div class="btn"><a href="{% url 'login' %}">Login</a></div>
<div class="btn"><a href="{% url 'home' %}">Home</a></div>
<div class="btn"><a href="{% url 'menu' %}">Menu</a></div>
</body>
</html>