
{% extends 'users/noticeboard_detail.html' %}
{% load crispy_forms_tags %}

	{% block title %}
	<title>Delete {{ object.title }} ?</title>
	{% endblock title %}
{% block header %}
	<div class="header" id="delete">
		<h1 class="heading" id="delete">Do you want to delete {{ object.title }} ?</h1>
	</div>	
{% endblock header %}
{% block content-box %}
	<div class="content-box">
		<div class="content">
			<h2>Do you want to delete {{ object.notice }} ?</h2>
		</div>
	<form method="POST" id="delete-form">

			{{ form|crispy }}
			{% csrf_token %}
	 <div class="btn">
	 <a href="javascript:{}" id="btn-Yes" onclick="document.getElementById('delete-form').submit();">Yes</a>
	</form>
	<a id="btn-No" href="{% url 'notice_detail' object.id %}"><h1>No</h1></a>
	</div>
</div>
{% endblock content-box %}
