{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>Create announcements!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class='jumbotron jumbotron-fluid bg-dark text-white text-center'>
	<h1>Create Announcements!</h1>
</div>
<div class='col-md-4 mx-auto border border-primary rounded	'>
	<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form|crispy }}
			
		<button type="submit">Post</button>
		</form>
		<br />
		<hr >
		<a href='{% url "home" %}' class='btn btn-info'>Home</a>
		<a href='{% url "forum-home" %}' class='btn btn-warning'>Forum</a>
</div>
</body>
</html>